.authorPage {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    margin-bottom: 50px;
    z-index: 2;
    @include tablet {
      width: 50%;
    }

    h1 {
      font-size: 2.2rem;
      text-transform: uppercase;
      letter-spacing: 10px;
      margin: 20px 0;
      text-align: center;
    }

    &__box {
      border: 1px solid $main-text;
      padding: 15px;
      position: relative;

      h2 {
        font-size: 2rem;
        letter-spacing: 5px;
        margin-bottom: 20px;
        font-weight: 700;
        &::after {
          content: "";
          width: 90%;
          height: 1px;
          background: linear-gradient(90deg, $main-text, $main-bg);
          position: absolute;
          top: 55px;
          left: 17px;
          z-index: 0;
        }
      }

      p {
        line-height: 1.3rem;
        text-indent: 20px;
        margin-bottom: 30px;
        @include tablet {
          font-size: 1.2rem;
          line-height: 1.5rem;
        }
      }

      span {
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
        font-weight: 700;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 5px;
      }

      &__contact {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;

        a {
          text-decoration: none;
          color: $main-text;
          font-size: 3rem;
          &:hover {
            animation: pulse 1.5s infinite;
          }
        }
      }
    }
  }

  &__tech {
    font-size: 1.2rem;
    z-index: 2;

    h1 {
      font-size: 2.2rem;
      text-transform: uppercase;
      letter-spacing: 10px;
      margin: 20px 0;
      text-align: center;
    }

    &__box {
      position: relative;
      border: 1px solid $main-text;
      padding: 15px;

      h2 {
        font-size: 1.7rem;
        letter-spacing: 4px;
        margin: 13px 0;
        font-weight: 700;
        &::after {
          content: "";
          width: 90%;
          height: 1px;
          background: linear-gradient(90deg, $main-text, $main-bg);
          position: absolute;
          top: 61px;
          left: 17px;
          z-index: 0;
        }
      }

      .techStack {

        li {
          margin: 10px 0;

          i {
            margin-right: 10px;
            width: 25px;
          }

          span {
            opacity: .6;
          }
        }
      }

      h3 {
        text-align: right;
        font-size: 1.5rem;
        margin-bottom: 15px;
        font-weight: 600;
        &::after {
          content: "";
          width: 90%;
          height: 1px;
          background: linear-gradient(90deg, $main-bg, $main-text);
          position: absolute;
          top: 271px;
          right: 14px;
          z-index: 0;
          @include tablet {
            top: 250px;
          }
        }
      }

      .devTools {
        text-align: right;

        li {
          margin: 10px 0;
        }
      }

      .projectDetails {
        position: relative;

        h4 {
          font-size: 1.5rem;
          margin: 15px 0;
          font-weight: 600;
          &::after {
            content: "";
            width: 90%;
            height: 1px;
            background: linear-gradient(90deg, $main-text, $main-bg);
            position: absolute;
            top: 33px;
            left: 0;
            z-index: 0;
          }
        }

        &__list {
        margin-bottom: 40px;

        li {
          margin: 10px 0;

          ul {
            margin-top: 20px;

            span {
              font-weight: 600;
            }

            li {
              margin-left: 30px;
              &:last-child {
                margin-left: 260px;
              }
              }
            }
          }
        }
      }
    }
  }
}

.ChartAnimation {
  display: none;
  @include tablet {
    display: block;
    width: 60%;
    height: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom;
    animation: moveBg 120s infinite linear;
    animation-fill-mode: both;
    opacity: .4;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 0;
  }
}

