.parallax {
  position: relative;

  &__bg {
    position: relative;
    opacity: .5;

    img {
      width: 100vw;
      height: 180vh;
    }
  }
  &__content {
    width: 300px;
    height: 200px;
    position: absolute;
    img {
      opacity: .5;
      height: 100%;
      width: 100%;
    }
    p {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 20%;
      color: $el-highlight;
      font-size: 2rem;
      line-height: 3rem;
    }
    &.firstEl {
      top: 30%;
      left: 10%;
    }
    &.secondEl {
      top: 60%;
      right: 10%;
    }
    &.thirdEl {
      bottom: 50px;
      margin-top: 100px;
      left: calc(50% - 300px / 2);
      p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 3rem;
        width: 300px;
        left: calc(50% - 300px / 2);
        .animeSpan {
          margin: 20px;
        }
      }
    }
  }
}

.crossText {
  animation: fadeOutAnimation .3s ease-in-out;
  animation-delay: 1.4s;
  animation-fill-mode: both;
  span {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -10px;
      width: 100%;
      background: #e94a45;
      height: 6px;
      animation: crossTextAnimation .5s linear;
      animation-fill-mode: both;
      animation-delay: 1s;
    }
  }
}

.growText {
  animation: growTextAnimation .5s ease-in-out;
  animation-delay: 1.6s;
  animation-fill-mode: both;
}



