.parallax {
  position: relative;

  &__bg {
    position: relative;
    opacity: .5;

    img {
      width: 99vw;
      height: 250vh;
    }
  }

  &__content {
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: 2;
    img {
      opacity: .4;
      height: 100%;
      width: 300px;
    }
    p {
      position: absolute;
      z-index: 3;
      top: 56px;
      color: $el-highlight;
      font-size: 2rem;
      line-height: 3rem;
    }

    &.firstEl {
      top: 30%;
      left: 10%;
      @include tablet {
        width: 80%;
        p {
          left: 0;
        }
      }
      img {
        float: left;
      }
    }
    &.secondEl {
      top: 50%;
      right: 10%;
      @include tablet {
        width: 80%;
        p {
          right: 0;
        }
      }
      img {
        float: right;
      }
    }
    &.thirdEl {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      margin-bottom: 100px;
    }
    &.fourthEl {
      bottom: -20px;
      margin-top: 100px;
      left: calc(50% - 300px / 2);
      p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 3rem;
        width: 300px;
        left: calc(50% - 300px / 2);
        top: 300px;
        .animeSpan {
          margin: 20px;
        }
      }
    }
  }
}

.listElems {
  position: absolute;
  left: calc(50% - 300px / 2);
  top: 70%;
  height: 600px;
  width: 300px;
  margin-bottom: 100px;
  ul {
    font-size: 2rem;
    li {
      display: flex;
      margin-top: 80px;
      i {
        color: #e94a45;
      }
    }
  }
  div {
    margin-top: 130px;
    font-size: 3.2rem;
    text-align: center;
    opacity: .5;
  }
}

.animeText {
  animation: pulse 2s infinite;
  padding-bottom: 100px;

  a {
    text-decoration: none;
    color: #e94a45;
    font-size: 6rem;
  }
}



