.pre-wrap {
  margin-top: 100px;
  width: 0;
  overflow: hidden;
  transition: 1s;
  .typewriter{
    font-size: .8rem;
    margin: 0 10px;
    display: none;
    line-height: 1rem;
    &:after{
      content: "|";
      animation: blink 500ms linear infinite alternate;
    }
  }
}


.varHL{
  color: orangered;
}
.funcHL {
  color: yellow;
}
.methHL {
  color: purple;
}



@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}



